<section class="about-section text-center">
  <h2>About Me</h2>
  <p>
    I am a software engineer with experience in web development, specializing including PHP (Laravel),
    MySQL, Node.js, Express.js, TypeScript, PostgreSQL, and MongoDB.
  <a href="https://drive.usercontent.google.com/download?id=13jLhBllubrehXgwDp0aktV2k8lrWCVHd&export=download&authuser=0&confirm=t&uuid=055cc417-b17b-43fc-8460-005509c9adb6&at=AEz70l7XXsQMRg-UM093f7wHf64l:1742561689441" target="_blank" download class="btn btn-primary">Download CV</a>
</section>
